<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty is a Ruby on Rails application built by <a target="_blank" href="http://github.com/dakotabryant"> Dakota Bryant</a>. He is a web developer seeking to make clean, and responsive applications through the latest technologies and techniques.
  </p>

  <br/>
  <p>
    From his humble beginnings as a Graphic Designer, and Marketer, Dakota is drinking from the firehose at The Firehose Project to hone his skills as a Full-Stack Web Developer. Through this specific application, he's learned the basics of Ruby on Rails, Github, Bootstrap, and much more.
  </p>
  <br/>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here </a>
  </p>

  <div class="col-xs-12 col-sm-4 dakota">
    <%= image_tag 'dakota.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Dakota Bryant</h2>
      <br/>
      <p>
        At heart Dakota is a communicator. Ever since a young age, he has been a natural at making connections with people. He has always had a passion for advertising & web development, and whether it's representation through new interactive media, or using tried and true methods such as print; he's had a passion for it. All of his hard work has added up to over 9 years in professional and independent Graphic and Web Design, marketing, and sales experience. Mark Twain said "Many a small thing has been made large by the right kind of advertising." No project deserves less than to be treated as a valued and prestigious use of time.
      </p>
  </div>
  <br class="clear"/>

</div>

<br class="clear"/>
<br/>
<br/>
<br/>
<br/>
