.clear {
  clear:both;
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}
.slogan {
  font-family: Gotham, sans-serif;
  font-style: italic;
  padding-top: 26px;
}
.links {
  padding-top: 26px;
}
.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'montserratlight', sans-serif;
  font-weight: bold;
}
header {
  border-top: 9px solid #222222;
}
hr {
  clear:both;
}
h1 {
  font-family: 'montserratregular', sans-serif;
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: 'montserratlight', sans-serif;
}
.next-quote {
  color: #f84342;
  font-family: 'monsterratlight', sans-serif;
  font-size: 20px;
}
.footer-blurb {
  font-family: Gotham, sans-serif;
  text-align: right;
  font-size: 10px;
}
.logo:hover {
  text-decoration: none;
}

.about {
  font-family: Gotham, sans-serif;
}

.about p {
  font-family: Gotham, sans-serif;
  font-weight: lighter;
}

.dakota {
  padding-top: 75px
}
// .containr {
//   width: 150px;
//   height: 47px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   margin: -24px 0px 0px -75px;
// }
//
// .logo {
//   background: url("http://i.imgur.com/GL0erZU.png") no-repeat 0px 0px;
//   width: 38px;
//   height: 47px;
//   position: absolute;
//   left: 50%;
//   margin-left: -19px;
//   transition: left 0.5s ease-in-out;
//   cursor: pointer;
// }
// .logo:after {
//   content: "";
//   display: block;
//   background: url("http://i.imgur.com/i6CVKyz.png") no-repeat 0px 0px;
//   width: 102px;
//   height: 47px;
//   position: fixed;
//   left: 50%;
//   opacity: 0;
//   margin: 10px 0px 0px -45px;
//   transition: opacity 0.5s ease-in-out 0s;
// }
// .logo:hover {
//   left: 0%;
// }
// .logo:hover:after {
//   opacity: 1;
// }
